In [2]:
import lasio
import pandas as pd

In [3]:
df_19SR = lasio.read('Data/15-9-19_SR_COMP.las').df()

In [4]:
df_19SR.reset_index(inplace=True)

In [5]:
df_19SR

            DEPT  AC  CALI  DEN      GR  NEU    RDEP    RMED
0       102.1568 NaN   NaN  NaN  5.3274  NaN     NaN     NaN
1       102.3092 NaN   NaN  NaN  5.8235  NaN     NaN     NaN
2       102.4616 NaN   NaN  NaN  6.5228  NaN     NaN     NaN
3       102.6140 NaN   NaN  NaN  7.2285  NaN     NaN     NaN
4       102.7664 NaN   NaN  NaN  9.5020  NaN     NaN     NaN
...          ...  ..   ...  ...     ...  ...     ...     ...
29749  4635.9044 NaN   NaN  NaN     NaN  NaN  0.7729  0.5978
29750  4636.0568 NaN   NaN  NaN     NaN  NaN  0.8369  0.6257
29751  4636.2092 NaN   NaN  NaN     NaN  NaN  0.8741  0.6888
29752  4636.3616 NaN   NaN  NaN     NaN  NaN  0.9002  0.8902
29753  4636.5140 NaN   NaN  NaN     NaN  NaN  0.9133  1.0363

[29754 rows x 8 columns]

In [6]:
df_19SR_formations = pd.read_csv('Data/Volve/15_9_19_SR_TOPS_NPD.csv', 
                                 header=None, names=['Formation', 'DEPT'])

df_19SR_formations['DEPT'] = df_19SR_formations['DEPT'].astype(float)

In [7]:
df_19SR_formations

           Formation    DEPT
0          UTSIRA FM   846.0
1   UNDIFFERENTIATED  1080.0
2           SKADE FM  1313.0
3     NO FORMAL NAME  1451.0
4            GRID FM  3008.0
5     NO FORMAL NAME  3240.0
6          BALDER FM  3302.0
7            SELE FM  3403.0
8           LISTA FM  3483.0
9         HEIMDAL FM  3623.0
10        EKOFISK FM  3827.0
11            TOR FM  3850.0
12            HOD FM  4047.0
13     TRYGGVASON FM  4110.0
14        BLODØKS FM  4150.0
15         SVARTE FM  4168.0
16          RØDBY FM  4176.0
17           SOLA FM  4188.0
18         ÅSGARD FM  4201.0
19        DRAUPNE FM  4304.0
20        HEATHER FM  4310.0
21          HUGIN FM  4317.0
22      SKAGERRAK FM  4340.0

## Method 1

In [8]:
combined = pd.merge_asof(df_19SR, df_19SR_formations, on='DEPT', tolerance=0.1, direction='nearest')

In [9]:
combined.loc[(combined['DEPT'] >= 4046) & (combined['DEPT'] <= 4047.5)]

,DEPT,AC,CALI,DEN,GR,NEU,RDEP,RMED,Formation
25879,4046.1164,62.1472,9.9048,2.5367,10.3488,9.2970,3.3317,3.3615,NaN
25880,4046.2688,64.0851,9.9048,2.5344,9.7413,8.7762,3.3608,3.3710,NaN
25881,4046.4212,64.7358,9.9048,2.5416,11.6453,9.9468,3.3665,3.3992,NaN
25882,4046.5736,67.9201,9.9048,2.5550,8.3504,11.0645,3.3356,3.3927,NaN
25883,4046.7260,75.5817,9.9048,2.5544,11.2070,10.2557,3.2839,3.3378,NaN
25884,4046.8784,73.2628,9.9048,2.5432,9.9543,10.2169,3.1962,3.2019,NaN
25885,4047.0308,68.6563,9.9048,2.5416,11.1064,10.7107,3.0874,2.9957,HOD FM
25886,4047.1832,62.5976,9.9048,2.5477,9.1687,13.0074,2.9623,2.8654,NaN
25887,4047.3356,67.5825,9.9048,2.5427,10.4739,11.6744,2.8714,2.7878,NaN
25888,4047.4880,67.3740,9.9048,2.5300,10.9061,10.6323,2.7959,2.6922,NaN

In [10]:
combined['Formation'] = combined['Formation'].fillna(method='ffill')

In [11]:
combined

            DEPT  AC  CALI  DEN      GR  NEU    RDEP    RMED     Formation
0       102.1568 NaN   NaN  NaN  5.3274  NaN     NaN     NaN           NaN
1       102.3092 NaN   NaN  NaN  5.8235  NaN     NaN     NaN           NaN
2       102.4616 NaN   NaN  NaN  6.5228  NaN     NaN     NaN           NaN
3       102.6140 NaN   NaN  NaN  7.2285  NaN     NaN     NaN           NaN
4       102.7664 NaN   NaN  NaN  9.5020  NaN     NaN     NaN           NaN
...          ...  ..   ...  ...     ...  ...     ...     ...           ...
29749  4635.9044 NaN   NaN  NaN     NaN  NaN  0.7729  0.5978  SKAGERRAK FM
29750  4636.0568 NaN   NaN  NaN     NaN  NaN  0.8369  0.6257  SKAGERRAK FM
29751  4636.2092 NaN   NaN  NaN     NaN  NaN  0.8741  0.6888  SKAGERRAK FM
29752  4636.3616 NaN   NaN  NaN     NaN  NaN  0.9002  0.8902  SKAGERRAK FM
29753  4636.5140 NaN   NaN  NaN     NaN  NaN  0.9133  1.0363  SKAGERRAK FM

[29754 rows x 9 columns]

In [12]:
combined.loc[(combined['DEPT'] >= 4046) & (combined['DEPT'] <= 4047.5)]

,DEPT,AC,CALI,DEN,GR,NEU,RDEP,RMED,Formation
25879,4046.1164,62.1472,9.9048,2.5367,10.3488,9.2970,3.3317,3.3615,TOR FM
25880,4046.2688,64.0851,9.9048,2.5344,9.7413,8.7762,3.3608,3.3710,TOR FM
25881,4046.4212,64.7358,9.9048,2.5416,11.6453,9.9468,3.3665,3.3992,TOR FM
25882,4046.5736,67.9201,9.9048,2.5550,8.3504,11.0645,3.3356,3.3927,TOR FM
25883,4046.7260,75.5817,9.9048,2.5544,11.2070,10.2557,3.2839,3.3378,TOR FM
25884,4046.8784,73.2628,9.9048,2.5432,9.9543,10.2169,3.1962,3.2019,TOR FM
25885,4047.0308,68.6563,9.9048,2.5416,11.1064,10.7107,3.0874,2.9957,HOD FM
25886,4047.1832,62.5976,9.9048,2.5477,9.1687,13.0074,2.9623,2.8654,HOD FM
25887,4047.3356,67.5825,9.9048,2.5427,10.4739,11.6744,2.8714,2.7878,HOD FM
25888,4047.4880,67.3740,9.9048,2.5300,10.9061,10.6323,2.7959,2.6922,HOD FM

In [13]:
combined.loc[(combined['DEPT'] >= 4339) & (combined['DEPT'] <= 4341)]

,DEPT,AC,CALI,DEN,GR,NEU,RDEP,RMED,Formation
27801,4339.0292,51.8796,9.1429,2.5323,31.7830,11.2418,17.3844,18.4879,HUGIN FM
27802,4339.1816,53.1605,9.2381,2.5368,37.9993,14.7903,16.7278,17.8524,HUGIN FM
27803,4339.3340,55.8638,9.2381,2.5353,43.4283,11.1817,16.4371,17.0776,HUGIN FM
27804,4339.4864,60.1538,9.3333,2.5376,52.2349,14.0164,16.4886,16.4046,HUGIN FM
27805,4339.6388,61.8456,9.3333,2.5515,65.2177,18.8162,17.1632,15.4532,HUGIN FM
27806,4339.7912,63.3143,9.4286,2.5681,62.0304,24.5360,17.8220,14.8880,HUGIN FM
27807,4339.9436,64.0107,9.4286,2.5651,67.7695,23.4092,17.6928,14.5194,SKAGERRAK FM
27808,4340.0960,62.9094,9.5663,2.5116,78.0308,24.8303,16.0257,13.0239,SKAGERRAK FM
27809,4340.2484,62.9921,9.7106,2.4601,79.6203,29.2376,13.4151,10.0252,SKAGERRAK FM
27810,4340.4008,61.4105,9.7596,2.4523,80.6640,26.4657,9.3640,7.0422,SKAGERRAK FM
27811,4340.5532,61.7707,9.8095,2.4675,80.6132,29.2239,5.7445,4.1357,SKAGERRAK FM
27812,4340.7056,68.5278,9.9048,2.5003,87.8102,22.5944,4.3082,3.0821,SKAGERRAK FM
27813,4340.8580,76.4663,10.0020,2.5241,86.8339,32.8458,3.5145,2.5156,SKAGERRAK FM

## Method 2

In [14]:
def add_formations_to_df(depth_value:float) -> str:
    formation_depths = df_19SR_formations['DEPT'].to_list()
    formation_names = df_19SR_formations['Formation'].to_list()
    
    for i, depth in enumerate(formation_depths):
        # Check if we are at last formation
        if i == len(formation_depths)-1:
            return formation_names[i]
        
        # Check if we are before first formation
        elif depth_value <= formation_depths[i]:
            return ''
        
        # Check if current depth between current and next formation
        elif depth_value >= formation_depths[i] and depth_value <= formation_depths[i+1]:
            return formation_names[i]

In [15]:
df_19SR['FORMATION'] = df_19SR['DEPT'].apply(add_formations_to_df)

In [16]:
df_19SR

            DEPT  AC  CALI  DEN      GR  NEU    RDEP    RMED     FORMATION
0       102.1568 NaN   NaN  NaN  5.3274  NaN     NaN     NaN
1       102.3092 NaN   NaN  NaN  5.8235  NaN     NaN     NaN
2       102.4616 NaN   NaN  NaN  6.5228  NaN     NaN     NaN
3       102.6140 NaN   NaN  NaN  7.2285  NaN     NaN     NaN
4       102.7664 NaN   NaN  NaN  9.5020  NaN     NaN     NaN
...          ...  ..   ...  ...     ...  ...     ...     ...           ...
29749  4635.9044 NaN   NaN  NaN     NaN  NaN  0.7729  0.5978  SKAGERRAK FM
29750  4636.0568 NaN   NaN  NaN     NaN  NaN  0.8369  0.6257  SKAGERRAK FM
29751  4636.2092 NaN   NaN  NaN     NaN  NaN  0.8741  0.6888  SKAGERRAK FM
29752  4636.3616 NaN   NaN  NaN     NaN  NaN  0.9002  0.8902  SKAGERRAK FM
29753  4636.5140 NaN   NaN  NaN     NaN  NaN  0.9133  1.0363  SKAGERRAK FM

[29754 rows x 9 columns]

In [17]:
df_19SR.loc[(df_19SR['DEPT'] >= 4339) & (df_19SR['DEPT'] <= 4341)]

,DEPT,AC,CALI,DEN,GR,NEU,RDEP,RMED,FORMATION
27801,4339.0292,51.8796,9.1429,2.5323,31.7830,11.2418,17.3844,18.4879,HUGIN FM
27802,4339.1816,53.1605,9.2381,2.5368,37.9993,14.7903,16.7278,17.8524,HUGIN FM
27803,4339.3340,55.8638,9.2381,2.5353,43.4283,11.1817,16.4371,17.0776,HUGIN FM
27804,4339.4864,60.1538,9.3333,2.5376,52.2349,14.0164,16.4886,16.4046,HUGIN FM
27805,4339.6388,61.8456,9.3333,2.5515,65.2177,18.8162,17.1632,15.4532,HUGIN FM
27806,4339.7912,63.3143,9.4286,2.5681,62.0304,24.5360,17.8220,14.8880,HUGIN FM
27807,4339.9436,64.0107,9.4286,2.5651,67.7695,23.4092,17.6928,14.5194,HUGIN FM
27808,4340.0960,62.9094,9.5663,2.5116,78.0308,24.8303,16.0257,13.0239,SKAGERRAK FM
27809,4340.2484,62.9921,9.7106,2.4601,79.6203,29.2376,13.4151,10.0252,SKAGERRAK FM
27810,4340.4008,61.4105,9.7596,2.4523,80.6640,26.4657,9.3640,7.0422,SKAGERRAK FM
27811,4340.5532,61.7707,9.8095,2.4675,80.6132,29.2239,5.7445,4.1357,SKAGERRAK FM
27812,4340.7056,68.5278,9.9048,2.5003,87.8102,22.5944,4.3082,3.0821,SKAGERRAK FM
27813,4340.8580,76.4663,10.0020,2.5241,86.8339,32.8458,3.5145,2.5156,SKAGERRAK FM